<!doctype html>
<html lang="FR_fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}</title>

    {#    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css"> #}
    <link rel="stylesheet" type="text/css" href="/assets/day.css">
    <link rel="stylesheet" type="text/css" href="/assets/report.css">
</head>

<body class="page">

    <div class="page__titles">
        <h1>Advent Of Code {{ year }}</h1>
        <h2>Day {{ day }} - Part {{ part }}</h2>
    </div>

    <div class="page__content">
        {% for solution in solutions %}

            {{ include('_report.html.twig', {
                'solution':       solution,
            }) }}

        {% endfor %}
    </div>

    <div class="page__footer">
        {% for solution in solutions %}
            <div class="result">{{ solution.name }} : {{ solution.result }}</div>
        {% endfor %}
    </div>

</body>
</html>